@using RazorComponentTagHelpers.Views;
@model SlotComponent

<div class="child-content">
    <span>@Model.ChildContent</span>
</div>

<div class="slot1">
    @if(Model.IsSlotContentNullOrEmpty("slot1"))
    {
        <h5>slot1 Fallback</h5>
    }
    else
    {
        @Model.RenderSlot("slot1")    
    }
</div>

<div class="slot2">
    @if(Model.IsSlotContentNullOrEmpty("slot2"))
    {
        <h5>slot2 Fallback</h5>
    }
    else
    {
        @Model.RenderSlot("slot2")    
    }
</div>
